@using Conesoft.Blazor.Components.Interfaces
@using Humanizer

@inject IJSRuntime JsRuntime
@inject ICleanNameGenerator cleanName

@code {
    [Parameter] public Conesoft.Files.File Current { get; set; } = default!;
    [Parameter] public string Path { get; set; } = "";
}
@if (Current.Exists)
{
    <li class="file">
        <img class="icon" src="/file-icon.svg" />
        <section>
            <a class="name" href="https://files.conesoft.net/@($"{Path}/{Current.Name}")" target="_blank" title="@Current.Name">@cleanName.GenerateCleanNameFromString(Current.Name)</a>
            <b class="size">@Current.Info.Length.Bytes().Humanize()</b>
            <TagList SourceForTags="@Current.Name" />
        </section>
    </li>
}