@layer components.tags {
    .tags {
        display: flex;
        gap: 0.5rem 1ch;

        flex-wrap: wrap;
        padding-block: 0.5rem;

        overflow-y: hidden;

        & > li {

            &:not(:empty) {
                background-color: var(--accent-color-50);
                color: var(--background-color);
                padding-block: 0.25rem;
                padding-inline: 0.5rem;
                font-size: 0.625rem;
                font-weight: 900;
                text-align: center;
                text-wrap: nowrap;
                flex: 1;
            }
        }
    }

    li:has(:hover, :focus-visible) .tags li {
        background-color: var(--accent-color);
    }
}