@page "/"

<PageTitle>TorrentKontrol</PageTitle>
<HeadContent>
    <meta name="description" content="TorrentKontrol by Conesoft">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TorrentKontrol">
    <meta property="og:description" content="TorrentKontrol by Conesoft">
    <meta property="og:image" content="/meta-image.jpg">
</HeadContent>

<header>
    <h1>TorrentKontrol</h1>
</header>
<main>
    <Conesoft.Blazor.Components.UserLogin />
    <section>
        <h2>Torrents here</h2>
    </section>
</main>