main {
    grid-template-columns: 0 1rem 1fr auto auto auto auto auto 2rem;
}

::deep :is(.torrent.empty, .incoming .torrent) {
    color: var(--color-70);
}

::deep .torrent {
    position: relative;
}

    ::deep .torrent progress {
        position: absolute;
        inset: 0;
        z-index: 0;
        grid-column: 1 / -1;
    }

    ::deep .torrent section {
        grid-column: 2 / -2;
        z-index: 1;
        color: var(--accent-color);
        mix-blend-mode: difference;
    }

    ::deep .torrent b {
        grid-column: 1 / 4;
    }

    ::deep .torrent aside {
        place-self: center;
        opacity: 0.7;
        font-weight: 300;
    }

    ::deep .torrent aside, ::deep .torrent aside * {
        display: inline;
        text-align: right;
    }
    
    ::deep .torrent .speed {
        grid-column: 4;
    }

    ::deep .torrent .percentage {
        grid-column: 5;
    }

    ::deep .torrent .size {
        grid-column: 6;
    }

    ::deep .torrent .tags {
        grid-column: 7;
    }

::deep .directory .tags {
    grid-column: 4 / 9;
}

::deep .file .tags {
    grid-column: 4 / 9;
}