::deep #search form {
    display: flex;
}

    ::deep #search form > *:first-child {
        flex-grow: 1;
    }

    ::deep #search form > button {
        aspect-ratio: 1;
    }


::deep #results .folder a {
}

::deep #results .file a {
    font-weight: 100;
}

::deep #results .activity {
    display: revert;
    font-size: 0.5em;
    padding-inline: 1rem;
    min-width: 4rem;
        opacity: 0.7;
        font-weight: 100;
}

::deep #results .activity * {
    display: revert;
}

    ::deep #results .activity th {
        color: var(--accent-color);
    }

    ::deep #results .activity td {
        text-align: right;
    }

::deep #results aside {
    min-width: 5rem;
    text-align: right;
}


::deep #no-results {
    color: var(--background-color);
    width: 100%;
    min-height: 2rem;
    text-align: center;
    font-style: italic;
}