::deep #search form {
    display: grid;
    grid-template-columns: 1fr 2rem;
}

    ::deep #search form input {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

        ::deep #search form input::-webkit-search-cancel-button {
            position: relative;
            right: 2rem;
        }

    ::deep #search form button {
        grid-row: 1;
        grid-column: 2;
        aspect-ratio: 1;
    }


::deep #results .folder a {
}

::deep #results .file a {
    font-weight: 100;
}

::deep #results .activity {
    display: revert;
    font-size: 0.5em;
    padding-inline: 1rem;
    min-width: 4rem;
    opacity: 0.7;
    font-weight: 100;
}

    ::deep #results .activity * {
        display: revert;
    }

    ::deep #results .activity th {
        color: var(--accent-color);
    }

    ::deep #results .activity td {
        text-align: right;
    }

::deep #results aside {
    min-width: 5rem;
    text-align: right;
}


::deep #no-results {
    color: var(--background-color);
    width: 100%;
    min-height: 2rem;
    text-align: center;
    font-style: italic;
}
