@layer root {

    :root {
        --background-color-90: color-mix(in oklab, var(--background-color) 90%, var(--color));
        --background-color-80: color-mix(in oklab, var(--background-color) 80%, var(--color));
        --background-color-70: color-mix(in oklab, var(--background-color) 70%, var(--color));

        --accent-color-75: color-mix(in oklab, var(--accent-color) 75%, var(--background-color));
        --accent-color-50: color-mix(in oklab, var(--accent-color) 50%, var(--background-color));
        --accent-color-25: color-mix(in oklab, var(--accent-color) 25%, var(--background-color));

        --color-90: color-mix(in oklab, var(--color) 90%, var(--background-color));
        --color-80: color-mix(in oklab, var(--color) 80%, var(--background-color));
        --color-70: color-mix(in oklab, var(--color) 70%, var(--background-color));
        --color-50: color-mix(in oklab, var(--color) 50%, var(--background-color));

        --accent-color: green;
        --warning-color: yellow;
        --danger-color: red;

        @media(prefers-color-scheme: light) {
            --color: black;
            --background-color: white;
            --accent-color: color-mix(in oklab, springgreen 65%, black);
            --warning-color: color-mix(in oklab, #ddfa00 75%, black);
            --danger-color: color-mix(in oklab, #ff0565 85%, black);
        }

        @media (prefers-color-scheme: dark) {
            --color: white;
            --background-color: black;
            --accent-color: mediumspringgreen;
            --warning-color: #ddfa00;
            --danger-color: #ff0565;
        }
    }
}