@using Conesoft.Blazor.Components.Interfaces

@inject IJSRuntime JsRuntime
@inject ICleanNameGenerator cleanName

@code {
    [Parameter] public Conesoft.Files.Directory Current { get; set; } = default!;
    [Parameter] public string Path { get; set; } = "";

    private string CurrentPath => $"{Path}/{Current.Name}";
    private string CurrentPathForDownload => $"*/{(CurrentPath.StartsWith("/") ? CurrentPath[1..] : CurrentPath)}";
}

<li class="directory">
    <img class="icon" src="/folder-icon.svg" />
    <a class="name" href="https://files.conesoft.net/@CurrentPath" target="_blank" title="@Current.Name">@cleanName.GenerateCleanNameFromString(Current.Name)</a>
    <TagList SourceForTags="@Current.Name" />
</li>