@using Conesoft.Blazor.Components.Interfaces
@using MonoTorrent.Client

@inject ICleanNameGenerator cleanName
@inject Services.Torrents Torrents

<li class="torrent" title="@Torrent.MagnetLink.Name">
    <section>
        <b>incoming transmission @(string.IsNullOrEmpty(cleanedName) == false ? $"for '{cleanedName}'" : "") &hellip;</b>
        <TagList SourceForTags="@Torrent.MagnetLink.Name" />
    </section>
    <menu>
        <li>
            <button dangerous @onclick="@(() => Torrents.Remove(Torrent))">✕</button>
        </li>
    </menu>
</li>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Parameters { get; set; } = [];

    [Parameter]
    public TorrentManager Torrent { get; set; } = default!;

    string cleanedName = "";

    protected override void OnParametersSet()
    {
        this.cleanedName = cleanName.GenerateCleanNameFromString(Torrent.MagnetLink?.Name ?? string.Empty);
    }
}
