@using Conesoft.Blazor.Components.Interfaces

@if(tags.Any())
{
    <ul class="tags" @attributes="AdditionalAttributes">
        @foreach (var tag in tags)
        {
            <li>@tag</li>
        }
    </ul>
}

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();

    private IEnumerable<string> tags = [];

    [Inject]
    public ITagListGenerator TagListGenerator { get; set; }

    [Parameter]
    public string SourceForTags { get; set; } = "";

    protected override void OnParametersSet()
    {
        tags = string.IsNullOrEmpty(SourceForTags) == false ? TagListGenerator.GenerateTagListFromString(SourceForTags) : [];

        base.OnParametersSet();
    }
}