@using TorrentKontrol.Configuration

@inject Hosting.HostEnvironment environment
@inject IOptionsSnapshot<Config> config
@inject Hosting.LocalSettings localSettings
@inject IHttpClientFactory httpClientFactory

@rendermode InteractiveServer

@foreach(var link in links)
{
    <a href="https://@link.Url" target="_blank">@link.Name.ToLowerInvariant()</a>
}

@code {
    Task linksrequest = Task.CompletedTask;
    Link[] links = [];

    protected override Task OnInitializedAsync()
    {
        links = config.Value.Links;

        if (linksrequest.IsCompleted)
        {
            linksrequest = Task.WhenAll(
                Task.Run(async () =>
                {
                    using var http = httpClientFactory.CreateClient("noredirect");
                    var changes = false;
                    links = await Task.WhenAll(links.Select(async link =>
                    {
                        var response = await http.GetAsync("https://" + link.Url);
                        if (response.StatusCode == System.Net.HttpStatusCode.MovedPermanently)
                        {
                            if(response.Headers.Location is Uri uri)
                            {
                                changes = true;
                                return link with { Url = response.Headers.Location.Host };
                            }
                        }
                        return link;
                    }));
                    StateHasChanged();
                    if (changes)
                    {
                        await localSettings.Save(config.Value with { Links = links });
                    }
                }),
                Task.Delay(TimeSpan.FromDays(1))
            );
        }

        return Task.CompletedTask;
    }
}