@using Conesoft.Blazor.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <PageTitle>TorrentKontrol</PageTitle>
    <HtmlHead />
    <MetaTags Title="TorrentKontrol" Description="TorrentKontrol by Conesoft" Url="https://torrentkontrol.conesoft.net" Image="/meta/screenshot-1280.jpg" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <footer>
        <p>&copy; @DateTime.Today.Year</p>
        <p>written by <a href="https://davepermen.net">davepermen</a></p>
        <p>a <a href="https://conesoft.net">conesoft product</a> running on .NET @Environment.Version.Major</p>
    </footer>
</body>

</html>
