li {
    place-items: center;
}

li *:not(progress) {
    z-index: 1;
    background-color: transparent;
}

progress {
    height: 100%;
    margin: 0;
    inset: 0;
    position: absolute;
}

li b {
    mix-blend-mode: color-dodge;
}

li aside {
    mix-blend-mode: difference;
}

li:nth-child(2n + 1) progress::-webkit-progress-bar {
    background-color: #111;
}

li:nth-child(2n) progress::-webkit-progress-bar {
    background-color: #222;
}