body {
    grid-template-rows: auto auto auto 1fr;
}

h1 {
    place-self: end;
}

li {
    place-items: center;
    contain: content;
}

    li:has(progress) *:not(progress) {
        z-index: 1;
    }

    li *:not(progress):not(button) {
        background-color: transparent;
    }

progress {
    height: 100%;
    margin: 0;
    position: absolute;
    inset: 0;
}

li b {
    mix-blend-mode: color-dodge;
}

li aside {
    mix-blend-mode: difference;
}

li:nth-child(2n + 1) progress::-webkit-progress-bar {
    background-color: #111;
}

li:nth-child(2n) progress::-webkit-progress-bar {
    background-color: #222;
}

header {
    padding-block: 0.5rem;
    margin-block: 1rem;
}

    header h1 {
        font-size: min(10cqw, 2em);
        line-height: 1em;
        padding-block: 0;
    }